footer.footer
  .footer__masterbar
    .container
      .footer__masterbar-wrap
        .footer__masterbar-item
          p
            i.far.fa-map-marker-alt
            |Кыргызская Респеблика, <br>
            |г.Бишкек,пр.Чуй 147/1
          include ../../includes/social/social  
        .footer__masterbar-item
          .footer__logo
            a(href="#")
              img(src="assets/img/logo-footer.svg")
        .footer__masterbar-item
          a(href="mailto:crystallux.kg@gmail.com")
            i.fal-fa-envelope
            | crystallux.kg@gmail.com
          ul
            li
              i.fa.fa-phone
              a(href="tel:+996554110033") +996 (554) 11 00 33
            li
              i.fab.fa-whatsapp
              a(href="tel:+996504110033") +996 (504) 11 00 33

  .footer__bottom
    .container
      .footer__bottom-wrap
        .footer__copyright © 2020 “Crystal Lux”.Все права защищены
        .queen
          a(href="http://queen.kg/" target="_blank")
            span
            iframe(src="https://akmalkurbanov.github.io/copyright_Queen/white.html")

