footer.footer.wow.fadeInUp(data-wow-duration='0.7s' data-wow-delay='0.3s')
  .footer__masterbar
    .container
      .footer__masterbar-wrap
        .footer__masterbar-item
          p
            i.icon-location
            |Кыргызская Республика, <br>
            |г.Бишкек,пр.Чуй 147/1
          include ../../includes/social/social  
        .footer__masterbar-item
          a(href="#header" data-scroll).footer__logo
            img(src="assets/img/logo-footer.svg")
        .footer__masterbar-item
          a(href="mailto:crystallux.kg@gmail.com")
            i.icon-mail
            | crystallux.kg@gmail.com
          ul
            li
              i.icon-telephone
              a(href="tel:+996554110033") +996 (554) 11 00 33
            li
              i.icon-whatsapp
              a(href="tel:+996504110033") +996 (504) 11 00 33

  .footer__bottom
    .container
      .footer__bottom-wrap
        .footer__copyright © 2020 “Crystal Lux”.Все права защищены
        .queen
          a(href="http://queen.kg/" target="_blank")
            span
            iframe(src="https://akmalkurbanov.github.io/copyright_Queen/white.html")

