.header {
  &__top {
    background-color: $mc;
    padding: rem(10px) 0;

    a,
    p,
    i {
      color: $wc;
      margin: 0;
    }

    i {
      margin-right: rem(20px);
    }

    a {

      &:hover {
        color: $sc;
      }
    }
  }

  &__top-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &__top-item {
    padding: rem(5px) rem(30px);
    border-right: rem(1px) solid $wc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &:last-child {
      border: none;
      padding-right: 0;

    }
  }

  &__masterbar {
    padding: rem(13px) 0 0;
    margin-bottom: rem(25px);
  }

  &__masterbar-wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

  }

  &__logo {
    max-width: rem(240px);
    width: 100%;
  }

  &__contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    * {
      color: $bc;
    }

    i {
      position: absolute;
      left: 0;
    }

    p {
      margin-right: rem(85px);
      padding-left: rem(23px);
      position: relative;
      display: flex;
      align-items: center;

      i {
        color: $mc;
      }
    }

    ul {
      li {
        padding-left: rem(23px);
        position: relative;
        display: flex;
        align-items: center;

        i {
          color: #2dd248;
        }

        a {
          &:hover {
            color: #2dd248;
          }
        }
      }
    }
  }

  .nav {
    padding-bottom: rem(13px);
    &__wrap {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__item {
      border-right: rem(1px) solid $mc;

      a {
        display: flex;

        &:hover {
          color: $sc;
        }
      }

      &:first-child {

        a {
          padding-left: 0;
        }
      }

      &:last-child {
        border: none;

        a {
          padding-right: 0;
        }
      }

    }

    &__link {
      font-size: rem(20px);
      color: $bc;
      padding: 0 rem(40px);
    }
  }
}