.advantages {
  position: relative;
  padding-top: rem(300px);

  @include sm {
    padding-top: rem(100px);
  }

  @include xs {
    padding-top: rem(30px);
  }

  &:after {
    position: absolute;
    content: '';
    background-color: rgba($bc, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;

    @include md {
      display: block;
    }
  }

  span {
    position: absolute;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-image: url('../assets/img/advantage/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    // background-color: #fafafa;
  }

  &__wrap {
    display: flex;
    justify-content: flex-end;
  }

  &__desc {
    flex-basis: 55%;
    position: relative;
    z-index: 1;

    @include md {
      color: $wc;
    }

    @include sm {
      flex-basis: 100%;
    }

    i {
      font-family: icon;

      @include md {
        color: $wc;
      }

    }

    .title {
      @include md {
        color: $wc;
      }

    }
  }

  &__list {
    margin-bottom: rem(40px);
  }

  &__item {
    position: relative;
    padding-left: rem(28px);
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-bottom: rem(20px);

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      position: absolute;
      content: '';
      left: 0;
      width: rem(12px);
      height: rem(12px);
      border-radius: 100%;
      background-color: $mc;
    }
  }


  &__illustration {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include xs {
      flex-direction: column;
    }
  }

  &__illustration-item {
    margin-top: rem(32px);
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;

    @include xs {
      margin-top: rem(15px);
    }

    &:nth-child(1),
    &:nth-child(2) {
      margin-top: 0;

      @include xs {
        margin-top: rem(15px);
      }
    }
  }

  &__illustration-icon {
    margin-right: rem(24px);
    font-size: rem(45px);
    color: $bc;
  }

  &__illustration-desc {
    font-size: rem(14px);
    font-weight: 500;
    line-height: 1.57;
    color: $bc;

    @include md {
      color: $wc;
    }

  }

}