.entry {

  .swiper-slide {
    min-height: rem(680px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    align-items: center;

    @include lg {
      min-height: rem(500px);
    }

    @include md {
      min-height: rem(400px);
    }

    @include sm {
      min-height: rem(300px);
    }
  }

  &__caption {
    font-size: rem(50px);
    font-weight: 500;
    color: $wc;
    text-transform: uppercase;

    @include lg {
      font-size: rem(40px);
    }

    @include md {
      font-size: rem(30px);
    }

    @include sm {
      font-size: rem(20px);
    }

    &_lighter {
      color: $mc;

      span {
        color: $sc;
      }
    }
  }


}

