extends layout/main/main
block title
  | CRYSTAL LUX
block main  
  include includes/hamburger/hamburger
  include includes/preloader/preloader

  .wrapper
    .content 
      include includes/header/header





    include includes/footer/footer


  include includes/scripts 




